body{
	margin:0;
	font-family:system-ui;
}
.page-title{
	background:rgba(0, 0, 255, 0.3);
	text-align:center;
	color:red;
	padding:50px;
	font-variant:small-caps;
	font-size:90px;
	font-family:fantasy;
	letter-spacing:20px;
}

.sticky{
	position:fixed;
	top:0;
	width:100%;
}

.menu{
	background:#229954;
	text-align:center;
}

.menu-ul{
	margin:0;
	padding:0;
	display:inline;
}

.menu-ul li{
	font-size:17px;
	list-style:none;
	display:inline-block;
	padding:25px 25px 26px 25px;
}

.a-menu{
	text-decoration:none;
	color:white;
}

.menu-ul li:hover{
	background:#5b8c5a;
	transform:scale(1.1);
}

.container{
	margin:50px 50px 50px 5%;
	width:90%;
	text-align:center;
}

.categories, .items{
	width:max-content;
	margin:25px;
	border:1px solid #184d47;
	border-radius:0 0 50px 50px;
	display:inline-block;
}

.categories:hover, .items:hover{
	box-shadow:0 0 10px 3px #184d47;
}

.item-image{
	height:200px;
	width:200px;
	border-radius:0 0 50px 5px;
	padding:10px;
}

.image-title{
	text-align:center;
	padding:10px;
	font-weight:bold;
}

a{
	text-decoration:none;
}

.images{
	display:inline-block;
}

.item-image-size{
	height:150px;
	width:70px;
	padding:50px;
}

.description{
	margin:20px;
	min-height:100px;
}

.item-select{
	margin:10px 0 0 0;
}

.buynow-btn{
	border:1px solid #184d47;
	background:#184d47;
	padding:5px 15px;
	border-radius:20px;
	font-weight:bold;
	margin-top:10px;
	color:white;
}

.buynow-btn:hover{
	border:5px solid #3498DB;
	box-shadow:0 0 10px 5px #3498DB  insert;
}

.Mobiles-container{
	text-align:center;
	padding:10px;
	font-weight:bold;
}

.Earphones-container{
	text-align:center;
	padding:10px;
	font-weight:bold;
	
}

.Laptops-container{
	text-align:center;
	padding:10px;
	font-weight:bold;
}

body{
	margin:0;
	padding:0;
	background:url(back.jpeg);
	background-size:cover;
	background-position:center;
	font-family:sans-serif;
}